:root{
    --bk: #1b1e1f;
    --box-bk: #16ab72;
    --box-bk2: #fff;
    --text: #333;
}

* {
    box-sizing: border-box;
  }

html, body{

    text-align: center;
    background-color: var(--bk);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  
}
.mid-line{
    position: relative;
    min-width: 50%;
    max-width: 50%;
    min-height: 5px;
    max-height: 5px;
    position: relative;   
    background-color: #24f481;
    box-shadow: #24f481 5px 5px 15px;
    border-radius: 5px;
    top: 50px;
    transition: 0.1s;
    left: 25%;
}

.profil{
    position: relative;
    background-color: #242728;
    width: 50%;
    max-height: 50%;
    left: 25%;
    top: 20px;
    height: 150px;
    border-radius: 15px;
    
    border: solid #24f481 2px;
    box-shadow: #24f481 2px 2px 25px;
}

.pr-name{
 position: relative;
    color:  #08f69b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    left: 15%;
    top: 25%;
    text-align: left;
  
}

.pr-under-name{
    position: relative;
    color:  #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
 
    

}

.git-banner{
    position: relative;
    width: 30%;
    left: 60%;
    top: -20px;
    height: 50px;
    background-color: #1b1e1f;
    background-image: url('git.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -50px;
    background-position-x: 0px;
    border-radius: 10px;
    color:  #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    padding: 5px;
    padding-left: 25px;
    transition: 0.5s;
}

.git-banner:hover {
    transition: 0.5s;
    background-position-y: -30px;
    color:  #08f69b;
    font-size: 0px;    
}



.service{
    position: relative;
    top: 5%;
    left: 25%;
}

.serv{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: 400;
    margin-left: 20px;

}

.box-cont{
    position: relative;
    width: 50%;
    left: 25%;
  

    top: 5vh;
    text-align: center;
    background-color: #242728;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.mini-box{

    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #08f69b;
    font-weight: 500;
    background-color: #333637;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 80px;
}

/*Adver*/
.adver-container{
position: relative;
top: 150px;

min-width: 50%;
max-width: 50%;
max-height: auto;
left: 25%;
color: #fff;
height: 450px;
display: flex;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.colmun-adver{
    min-width: 25%;
    max-width: 30%;
    height: 100%;
    background: linear-gradient(90deg, rgba(33,207,111,1) 26%, rgba(33,207,182,1) 58%, rgba(33,207,182,1) 100%);
    border-radius: 15px;
    border: solid #24f481 2px;
    box-shadow: #24f481 5px 5px 15px;
}

.colmun-title{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: left;
    padding: 10px;
}

.colmun-text{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding: 20px;
}


/* box */

.box-adver{
    min-width: 65%;
    max-width: 65%;
    height: 100%;
    margin-left: 5%;
    background: linear-gradient(90deg, rgba(33,207,111,1) 26%, rgba(33,207,182,1) 58%, rgba(33,207,182,1) 100%);
    border-radius: 15px;
    border: solid #24f481 2px;
    box-shadow: #24f481 5px 5px 15px;
}

.box-title{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    text-align: left;
    padding: 10px;
    font-size: 60px;
    transition: 0.5s;

}


.box-text{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding: 20px;
}

.box-money{
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    text-align: left;
    padding: 20px;
    text-decoration: overline;
}


@media only screen and (min-width: 375px) and (max-width: 1300px) {
    .box-title, .colmun-title{    
   font-size: 25px;
    }

    .box-text, .colmun-text{
        font-size: 15px;
    }
    .adver-container{
        transition: 0.5s;
        min-width: 70%;
        max-width: 70%;
        left: 5%;
    }
    .profil, .service, .box-cont{
        width: 70%;
        left: 5%;
        transition: 0.5s;
    }

  }
  
.service-list{
    position: relative;
    width: 50%;
    height: 850px;
   
    left: 25%;
    top: 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    display: flex;
}
.service-box{
    width: 30%;
    height: 45%;
    background-color: #242728;
    border-radius: 15px;
    margin-left: 25px;
    padding: 10px;
    border: solid #24f48200 2px;
    box-shadow: #24f481 0px 0px 0px;
    transform: rotate(0deg);
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.5s;
}
.service-box:hover{
    transition: 0.5s;
    border: solid #24f481 2px;
    box-shadow: #24f481 5px 5px 15px;
    transform: rotate(15deg);

    

}
.service-name{
    font-size: 40px;
    font-weight: 700;
}

.service-text{

    font-size: 20px;
 
 
}

.service-price{
    position: relative;
    top: 100px;
    background: linear-gradient(90deg, rgba(33,207,111,1) 26%, rgba(33,207,182,1) 58%, rgba(33,207,182,1) 100%);
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    border-radius: 15px;
    color: #ffffff;
    border: solid #24f481 2px;
    box-shadow: #24f481 5px 5px 15px;
}
@media only screen and (min-width: 375px) and (max-width: 800px) {
    .profil, .service, .box-cont{
        width: 100%;
        left: 0%;
        transition: 0.5s;
    }
    .w
    .mid-line{
        min-width: 100%;
        max-width: 100%;
    }
}

.show-case-list{
    position: relative;
    width: 80%;
    background-color: #242728;
    padding: 10px;
    border: solid #242728 20px;
    border-radius: 15px;
    display: inline-block;
    overflow: auto;
    white-space: nowrap;

}

.show-case-box{
 
    background-color: #232323;
    padding: 20px;
    margin-left: 1px;
    border-radius: 15px;
    height: 50%;
    overflow: auto;
    white-space: nowrap;
    

}


#mySVG {
    position: fixed;
    top: 15%;
    width: 400px;
    height: 210px;
    color: #08f69b;
    margin-left:-750px;
  }

.show-case-frame{
display: block  ;
}
  
.show-case-list .show-case-box{
    display: inline-block;
}


.show-case-name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    padding: 10px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #24f481;
    border-radius: 5px;
    box-shadow: #24f481 5px 5px 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }