:root{
    --bk: #1b1e1f;
    --box-bk: #16ab72;
    --box-bk2: #fff;
    --text: #333;
}

body{
    background-color: var(--bk);
    margin: 0;
    padding: 0;
}

.main--container{
    position: relative;
    background-color: var(--box-bk);
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--text);
    width: 40%;
    left: 30%;
    top: 50px;
    height: 150px;
    border-radius: 20px;
    border: solid #24f481 2px;
    box-shadow: #24f481 5px 5px 15px;
}

.container--title{
position: relative;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 35px;
font-weight: 700;
}

.container--button{
    position: absolute;
    background: linear-gradient(90deg, rgba(33,207,111,1) 26%, rgba(33,207,182,1) 58%, rgba(33,207,182,1) 100%);
    height: 20px;
    padding: 10px;
    color: #c9ffe1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 35px;
    top: 130px;


    border: solid #24f481 2px;

}


.line{
    position: relative;
    min-width: 1px;
    max-width: 2px;
    min-height: 250px;
    background-color: #24f481;
    box-shadow: #24f481 5px 5px 15px;
    border-radius: 5px;
    top: 30px;
}

.line-l{
    position: relative;

    min-height: 2px;
    max-height: 2px;
    
    background-color: #24f481;
    box-shadow: #24f481 5px 5px 15px;

    border-radius: 5px;
    top: 30px;
    transition: 0.1s;
}

.line-l:hover{
    transition: 0.1s;
    background-color: #09bebb;
    box-shadow: #09bebb 10px 10px 20px;
    
}

.line-l-d{
    position: relative;
    min-width: 1px;
    max-width: 2px;
    min-height: 250px;
    background-color: #24f481;
    box-shadow: #24f481 5px 5px 15px;
  
    border-radius: 5px;
    top: 29px;
}

.dot{
position: relative;
min-width: 15px;
max-width: 15px;
min-height: 15px;
max-height: 15px;
z-index: 5;
background-color: #16ab72;
border-radius: 1000px;    
border: solid #24f481 2px;
box-shadow: #24f481 5px 5px 15px;
}

.line-text{
    position: relative;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    z-index: 2;
    font-size: 25px;


}

.text-d{
    position: relative;
    color: #24f481;
    outline: solid #51ff9f19;
    z-index: 1;
    border-radius: 25px;
    padding: 1px;
    text-shadow: #24f481 5px 4px 55px;
}

.big-down-box{
    position: absolute;
    background: linear-gradient(90deg, rgba(33,207,111,1) 26%, rgba(33,207,182,1) 58%, rgba(33,207,182,1) 100%);
    width: 15%;
    height: 450px;
    border-radius: 15px;
    border: solid #24f481 2px;
    box-shadow: #24f481 5px 5px 15px;
    left: 25%;
    top: 850px;
    transition: 0.5s;
}

.big-down-box:hover{
    transition: 0.5s;
    animation: ease;
    animation-duration: 0.6s;
    box-shadow: #09bebb 5px 5px 15px;
    border: solid #09bebb 2px;
    top: 840px;
}
.big-down-box-2{
    position: absolute;
    background: linear-gradient(90deg, rgba(33,207,111,1) 26%, rgba(33,207,182,1) 58%, rgba(33,207,182,1) 100%);
    width: 35%;
    height: 450px;
    border-radius: 15px;
    border: solid #24f481 2px;
    box-shadow: #24f481 5px 5px 15px;
    left: 43%;
    top: 850px;
    transition: 0.5s;
}

.big-down-box-2:hover{
    transition: 0.5s;
    animation: ease;
    animation-duration: 0.6s;
    box-shadow: #09bebb 5px 5px 15px;
    border: solid #09bebb 2px;
    top: 840px;
   
}

.bw-box{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: left;
    padding: 20px;

}

.bw-box-text{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding: 20px;
}

.button1{
    position: relative;
    top: 60px;
    background-color: #24f481;
    border: solid #24f481 2px;
    border-radius: 15px;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 800;
    left: 5%;
}

.button2{
    position: relative;
    top: 60px;
    left: 7%;
    background-color: #24f48200;
    border: solid #24f481 2px;
    border-radius: 15px;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.big-title{
    position: absolute;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    text-align: left;
    padding: 20px;
 
    left: 40%;
    top: 1350px;
}

.price-ad{
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    text-align: left;
    padding: 20px;
    text-decoration: overline;
}

.wrong{
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400    ;
    color: #fff;
    text-align: left;
    padding: 20px;
    font-size: 25px ;
    text-decoration: line-through;
}